body {
  margin: 0;
  /* display: flex;
  justify-content: center; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.microchipimage{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  margin-left:330px;  
}
::marker{
  color:blue
}
.textfield{
  color:aliceblue !important;
  font-size:30px !important
}
.saftey{
  padding-top: 50px !important;
}